<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>The Activity Page</h1>
<button onclick="javascript:location.href='activity_edit'">创建活动</button>
<hr>
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>category</th>
            <th>startTime</th>
            <th>endTime</th>
            <th>state</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody id="tbodyId">
        <!--<tr th:each="a:${list}">-->
        <!--    <td th:text="${a.id}"></td>-->
        <!--    <td th:text="${a.title}"></td>-->
        <!--    <td th:text="${a.category}"></td>-->
        <!--    <td th:text="${#temporals.format(a.startTime, 'yyyy/MM/dd HH:mm:ss')}"></td>-->
        <!--    <td th:text="${#temporals.format(a.endTime, 'yyyy/MM/dd HH:mm:ss')}"></td>-->
        <!--    <td th:text="${a.state==1?'进行中':'已结束'}"></td>-->
        <!--    <td><a th:href="@{/activity/doFindById(id=${a.id})}">update</a></td>-->
        <!--</tr>-->
        <tr>
            <td colspan="7">Data is Loading......</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript">
    // 定义ajax的get请求函数
    function doAjaxGet(url, params, callback) {
        // debugger
        // 1.创建ajax异步请求对象(这也是ajax技术应用的入口对象)
        var xhr = new XMLHttpRequest();
        // 2.设置请求,响应过程的状态监听(通过回调函数处理状态变化)
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                // 4 表示通信结束
                // 200 表示服务端响应ok
                // 服务端响应的结果会传递给XHR对象,我们可以借助response获取响应结果
                // console.log("response text", xhr.responseText)
                // xhr.responseText用于获取服务端的响应结果
                callback(xhr.responseText);

            }
        };
        // 3.创建或打开与服务端的链接(设置同步或异步)
        // true表示同步
        xhr.open("GET", url + "?" + params, true);
        // 4.发送异步请求
        // Get请求send方法中不传递数据
        xhr.send(null)
    }

    // 通过如下函数向服务端发送异步请求,获取activity数据并更新到页面
    function doGetActivitys() {
        // debugger
        // 1.定义请求参数
        var params = "";
        // 2.定义请求的url
        var url = "doFindActivitys"
        // 3.发送异步请求获取服务端资源并更新到页面
        doAjaxGet(url, params, function (result) {
            // 在浏览器控制台输出result
            // console.log(result)
            doHandleReponseResult(result);
        });
    }

    // 处理响应结果
    function doHandleReponseResult(result) {
        // 1.将json格式字符串转换json格式的js对象
        var jsonObj = JSON.parse(result);
        console.log("jsonObj", jsonObj);
        // 2.将json对象中数据更新到页面上
        // 2.1 迭代jsonObj对象中的数据,并将数据拼接到tr字符串中
        var trs = "";
        for (var i = 0; i < jsonObj.length; i++) {
            trs += "<tr>" +
                "<td>" + jsonObj[i].id + "</td>" +
                "<td>" + jsonObj[i].title + "</td>" +
                "<td>" + jsonObj[i].category + "</td>" +
                "<td>" + new Date(jsonObj[i].startTime).toLocaleString() + "</td>" +
                "<td>" + new Date(jsonObj[i].endTime).toLocaleString() + "</td>" +
                "<td>" + (jsonObj[i].state?"进行中":"已结束") + "</td>" +
                "<td>delete</td>" +
                "</tr>";
        }
        // 2.2 将字符串以html形式更新到tbody位置
        var tBody = document.getElementById("tbodyId");
        tBody.innerHTML = trs;
    }

    doGetActivitys();
</script>
</body>
</html>
