<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        ul li {list-style-type: none}
    </style>
</head>
<body>
<h1>The Activity Edit Page</h1>
<form action="/activity/doSaveActivity" method="post">
    <ul>
        <li>标题</li>
        <li><input type="text" name="title" th:value="${act.title}"></li>
        <li>类型</li>
        <li><input type="text" name="category" th:value="${act.category}"></li>
        <li>开始时间</li>
        <li><input type="text" name="startTime" th:value="${#temporals.format(act.startTime, 'yyyy/MM/dd HH:mm:ss')}"></li>
        <li>结束时间</li>
        <li><input type="text" name="endTime" th:value="${#temporals.format(act.endTime, 'yyyy/MM/dd HH:mm:ss')}"></li>
        <li>备注</li>
        <!--<li><textarea rows="5" cols="30" name="remark" >[[${act.remark}]]</textarea></li>-->
        <li><textarea rows="5" cols="30" name="remark" th:text="${act.remark}"></textarea></li>
        <li>提交<input type="submit" value="save"></li>
    </ul>
</form>
</body>
</html>
