<!DOCTYPE html>
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>The Activity Page</h1>
<button onclick="javascript:location.href='activity_edit'">创建活动</button>
<hr>
<div>
    <table>
        <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>category</th>
            <th>startTime</th>
            <th>endTime</th>
            <th>state</th>
            <th>operation</th>
        </tr>
        </thead>
        <tbody id="tbodyId">

        <tr>
            <td colspan="7">Data is Loading......</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/javascript" src="/js/ajaxframework.js"></script>
<script type="text/javascript" src="/js/jQuery.min.js"></script>
<script type="text/javascript">

    // 通过如下函数向服务端发送异步请求,获取activity数据并更新到页面
    function doGetActivitys() {
        // debugger
        // 1.定义请求参数
        var params = "";
        // 2.定义请求的url
        var url = "doFindActivitys"
        // 3.发送异步请求获取服务端资源并更新到页面

        // Ajax.doAjaxGet(url, params, function (result) {
        //     // 在浏览器控制台输出result
        //     console.log(result)
        //     doHandleReponseResult(result);
        // });

        $.getJSON(url, params, function (result) {
            doHandleReponseResult(result);
        })
    }

    // 处理响应结果
    function doHandleReponseResult(result) {
        // 1.将json格式字符串转换json格式的js对象

        // var jsonObj = JSON.parse(result);
        // console.log("jsonObj", jsonObj);

        const jsonObj = result;

        // 2.将json对象中数据更新到页面上
        // 2.1 迭代jsonObj对象中的数据,并将数据拼接到tr字符串中
        var trs = "";
        // for (var i = 0; i < jsonObj.length; i++) {
        //     trs += "<tr>" +
        //         "<td>" + jsonObj[i].id + "</td>" +
        //         "<td>" + jsonObj[i].title + "</td>" +
        //         "<td>" + jsonObj[i].category + "</td>" +
        //         "<td>" + new Date(jsonObj[i].startTime).toLocaleString() + "</td>" +
        //         "<td>" + new Date(jsonObj[i].endTime).toLocaleString() + "</td>" +
        //         "<td>" + (jsonObj[i].state?"进行中":"已结束") + "</td>" +
        //         "<td>delete</td>" +
        //         "</tr>";
        // }
        for (const row of jsonObj) {
            trs += "<tr>" +
                "<td>" + row.id + "</td>" +
                "<td>" + row.title + "</td>" +
                "<td>" + row.category + "</td>" +
                "<td>" + new Date(row.startTime).toLocaleString() + "</td>" +
                "<td>" + new Date(row.endTime).toLocaleString() + "</td>" +
                "<td>" + (row.state?"进行中":"已结束") + "</td>" +
                "<td><a onclick=doDeleteById('"+row.id+"')>delete</a></td>" +
                "</tr>";
        }
        // 2.2 将字符串以html形式更新到tbody位置
        // var tBody = document.getElementById("tbodyId");
        const tBody = $("#tbodyId");
        // tBody.innerHTML = trs;
        console.log("trs", trs);
        tBody.html(trs);
    }

    function doDeleteById(id) {
        const params = "id=" + id;
        const url = "doDeleteById";

        // Ajax.doAjaxGet(url,params,function (result) {
        //     alert(result)
        //     doGetActivitys();
        // })

        $.post(url,params,function (result) {
            alert(result)
            doGetActivitys();
        })
    }

    (function () {
        doGetActivitys();
    })()

    window.doGetActivitys();

</script>
</body>
</html>
